body{
  background-color: mediumpurple;
  border-style: dotted;
  border-color:lightblue;
  border-bottom-width: thick;
  border-top-width: thick;
  border-left-width: thick;
  border-right-width: thick;
}
.center{
  display: flex;
  justify-content: center;
  font-size: 100px;
  align-items: center;
}

.container {
  display: flex; /* Aligns children side-by-side */
   /* Keeps items at the top */
  gap: 20px; /* Space between the image and text */
  align-items: center;
}

.p3 {
  font-family: "Comic Sans MS",monospace;
  align-items: center;
}
.p2 {
  font-family: "Comic Sans MS", monospace;
  font-size: 20px;
  align-items: center;
}
body {
  margin: 5;
  padding: 20;
}

h2, p {
  margin: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightblue;
}

ul li {
  float: left;
  padding: 20px;
}

ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: mediumpurple;
}

